//colors
$color-bg-primary: hsl(0, 0%, 100%);
$color-bg-secondary:hsl(179, 62%, 43%);
$color-bg-tertiary: hsl(71, 73%, 54%);
$color-text-primary: hsl(179, 62%, 43%);
$color-text-secondary: hsl(71, 73%, 54%);
$color-text-tertiary: hsl(204, 43%, 93%);
$color-text-inherit: hsl(218, 22%, 67%);
$color-text-light: hsl(0, 0%, 100%);;